{{page-title "Demo"}}

{{! The following component displays Ember's default welcome message. }}
<WelcomePage />

<h1>Welcome to Ember.js Counter App</h1>

<Counter />

{{! Feel free to remove this! }}

{{outlet}}