#products1 {
    margin: 0%;
    padding: 0%;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(246, 8, 8, 0.815);
    max-width: 300px;
    margin: 2%;
    text-align: center;
    font-family: 'menlo', Times, serif;
}

img {
    height: 100%;
    width: 100%;
}

p {
    color: grey;
    font-size: 22px;
}

button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover {
    opacity: 0.7;
}